*{
    font-family: "JetBrains Mono";
    font-weight: 400;
}

.focused_overlay{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(32, 32, 32, 0.267);
    position: absolute;
    top:0;
    left:0;
    height: 100%;
    width: 100%;
}

.hidden{
    display: none;
}

.visible{
    display: block;
}

*{
    margin: 0px;
    padding: 0px;
}

#container{
    display: flex;
    
}

#sidebar{
    width: 320px;
    padding: 16px;
}

#main-content{
    border-left: 1px solid rgb(203, 203, 203);
    padding: 16px;
    height: 100vh;
    box-sizing: border-box;
    width: 100%;
}

#overlay-div{
    position: absolute;
    border: 1px solid purple;
    display: none;
}

#notification-div{
    position: absolute;
    border: 1px solid blue;
    display: none;
}
