:root{
    --primary: rgb(0, 0, 0);
}
.apptitle{
    font-size:1.2rem;
    color: var(--primary);
    font-weight: 600;
    margin-bottom: 24px;
    user-select: none;
}

.project_in_list{
    margin-bottom:8px;
    padding:8px 16px;
}

.clickable{
    cursor:pointer;

}

.clickable:hover{
    color: rgb(75, 75, 75);
}
