.container {
    border: 1px solid grey;
    padding-left: 32px;
    padding-right: 32px;
    border-radius: 4px;
    color:rgb(37, 37, 37);
    max-width: 600px;
    padding-top: 32px;
    padding-bottom: 40px;
    background-color: white;
}

label{
    font-size:0.8rem;
    text-transform: uppercase;
    color:rgb(85, 85, 85);
}

input[type="text"], input[type="date"]{
    font-size:1.2rem;
}
.container > input,label{
    display: block;
    margin-bottom: 0px;
}

.container > input{
    margin-bottom: 24px;
    border:0px;
    border-bottom:1px solid rgb(43, 43, 43);
    outline: none;
}

.container > textarea{
    margin-bottom: 24px;

}

.container > input:focus {
    border-bottom:2px solid rgb(21, 43, 167);
}

textarea{
    outline: none;
    border:1px solid rgb(116, 116, 116);
    resize: none;
    width: 100%;
}

.tags{
    color:rgb(35, 35, 35);
    text-transform: uppercase;
    font-size: 0.6rem;
    background-color: rgb(227, 227, 227);
    margin-right: 4px;
    padding:4px 8px;
    border-radius: 4px;
}

button{
    margin-right: 8px;
}